<h2>Getting Started</h2>
<m-notice>
  Getting Started module comprises of all the basic necessary modules to build and maintain your online store.
  It displays your store information as per the configuration and also provides the access to those modules for
  making the required changes.	
</m-notice>

<m-portlet [options]="{enableSticky: true}">
	<!-- use ng-container[mPortletHeadTitle] for the title -->
	<ng-container mPortletHeadTitle>
		<div class="m-portlet__head-title">
			<h3 class="m-portlet__head-text" text-primary>
				About Your Central Store
			</h3>
		</div>
  </ng-container>
  </m-portlet>