<h2>Add/Edit Bundle Product</h2>
<m-notice>
  Bundle Product literally means the combination of various existing of your Webstore in to a single product.
  Assembled Desktop,Party wear,gift basket are some examples of a Bundle Product. You can create different groups
  map suitable products to them, which can be selected by end-users while buying customized version of Bundle Product.
  Price and weight of the bundle product can be configured either fixed or based on the selected items(i.e.dynamic).
</m-notice>
  
<m-portlet>
    <ng-container mPortletHeadTitle>
        <div class="m-portlet__head-title">
          <h3 class="m-portlet__head-text">
            Gegeral
          </h3>
        </div>
      </ng-container>
  <ng-container mPortletBody>
      <form class="m-form m-form--label-align-left- m-form--state-" id="m_form">
        <div class="m-portlet__body">
          <div class="row">
            <div class="col-xl-12">
        <div class="m-form__section m-form__section--first">
            <div class="form-group m-form__group row">
              <label class="col-xl-3 col-lg-3 col-form-label"><span style="color:red;">*</span>Name:</label>
              <div class="col-xl-9 col-lg-9">
                <input type="text" name="name" class="form-control m-input" placeholder="" value="Nick Stone">
              </div>
            </div>
            <mat-divider></mat-divider><br>
            <div class="form-group m-form__group row">
                <label class="col-xl-3 col-lg-3 col-form-label"><span style="color:red;">*</span>Description:</label>
                <div class="col-xl-9 col-lg-9">
                  <textarea type="text" name="name" class="form-control m-input" placeholder="" value="Nick Stone"></textarea>
                </div>
              </div>
              <mat-divider></mat-divider><br>
              <div class="form-group m-form__group row">
                  <label class="col-xl-3 col-lg-3 col-form-label"><span style="color:red;">*</span>Short Description::</label>
                  <div class="col-xl-9 col-lg-9">
                    <textarea type="text" name="name" class="form-control m-input" placeholder="" value="Nick Stone"></textarea>
                  </div>
                </div>
                <mat-divider></mat-divider><br>
                <div class="form-group m-form__group row">
                    <label class="col-xl-3 col-lg-3 col-form-label">SKU:</label>
                    <div class="col-xl-9 col-lg-9">
                      <input type="text" name="name" class="form-control m-input" placeholder="" value="Nick Stone">
                    </div>
                  </div>
          </div>
          <mat-divider></mat-divider><br>
 
        <div class="m-form__section m-form__section--first">
            <div class="form-group m-form__group row">
              <label class="col-xl-3 col-lg-3 col-form-label">weight:</label>
              <div class="col-xl-9 col-lg-9">
                <input type="text" name="name" class="form-control m-input" placeholder="" value="Nick Stone">
               </div>
            </div>
            <mat-divider></mat-divider><br>
            <div class="form-group m-form__group row">
                <label class="col-xl-3 col-lg-9 col-form-label"><span style="color:red;">*</span>Status:</label>
                <div class="col-xl-9 col-lg-9">
                  <select>
                      <option>Disable</option>
                      <option>Enable</option>
                    </select>
                </div>
              </div>
              <mat-divider></mat-divider><br>
              <div class="form-group m-form__group row">
                  <label class="col-xl-3 col-lg-3 col-form-label">URL Key:</label>
                  <div class="col-xl-9 col-lg-9">
                    <input type="text" name="name" class="form-control m-input" placeholder="" value="Nick Stone">
                   </div>
                </div>
                <mat-divider></mat-divider><br>
                <div class="form-group m-form__group row">
                    <label class="col-xl-3 col-lg-3 col-form-label"><span style="color:red;">*</span>Visibility:</label>
                    <div class="col-xl-9 col-lg-9">
                        <select>
                            <option>Catelog</option>
                            <option>Search</option>
                          </select>
                    </div>
                  </div>
                  <mat-divider></mat-divider><br>
          </div>
   
        <div class="m-form__section m-form__section--first">
            <div class="form-group m-form__group row">
              <label class="col-xl-3 col-lg-3 col-form-label">Is Featured:</label>
              <div class="col-xl-9 col-lg-9">
                  <select>
                      <option>Yes</option>
                      <option>No</option>
                    </select>
              </div>
            </div>
            <mat-divider></mat-divider><br>
            <div class="form-group m-form__group row">
                <label class="col-xl-3 col-lg-3 col-form-label">New Product:</label>
                <div class="col-xl-9 col-lg-9">
                    <select>
                        <option>Yes</option>
                        <option>No</option>
                      </select>
                </div>
              </div>
              <mat-divider></mat-divider><br>
              <div class="form-group m-form__group row">
                  <label class="col-xl-3 col-lg-3 col-form-label">Brands:</label>
                  <div class="col-xl-9 col-lg-9">
                      <select>
                          <option>Apple</option>
                          <option>Samsung</option>
                        </select>
                  </div>
                </div>
                <mat-divider></mat-divider><br>
                <div class="form-group m-form__group row">
                    <label class="col-xl-3 col-lg-3 col-form-label">Additional Information:</label>
                    <div class="col-xl-9 col-lg-9">
                      <textarea type="text" name="name" class="form-control m-input" placeholder="" value="Nick Stone"></textarea>
                    </div>
                  </div>
                  <mat-divider></mat-divider><br>
                  <div class="form-group m-form__group row">
                      <label class="col-xl-3 col-lg-3 col-form-label">Shipping Information:</label>
                      <div class="col-xl-9 col-lg-9">
                        <textarea type="text" name="name" class="form-control m-input" placeholder="" value="Nick Stone"></textarea>
                      </div>
                    </div>
                    <mat-divider></mat-divider><br>
                    <div class="form-group m-form__group row">
                        <label class="col-xl-3 col-lg-3 col-form-label">Shipping Information:</label>
                        <div class="col-xl-9 col-lg-9">
                          <textarea type="text" name="name" class="form-control m-input" placeholder="" value="Nick Stone"></textarea>
                        </div>
                      </div>
                      <mat-divider></mat-divider><br>
                      <div class="form-group m-form__group row">
                          <label class="col-xl-3 col-lg-3 col-form-label">Custom Tab 1:</label>
                          <div class="col-xl-9 col-lg-9">
                            <textarea type="text" name="name" class="form-control m-input" placeholder="" value="Nick Stone"></textarea>
                          </div>
                      </div>
                      <mat-divider></mat-divider><br>
                      <div class="form-group m-form__group row">
                          <label class="col-xl-3 col-lg-3 col-form-label">Custom Tab 2:</label>
                          <div class="col-xl-9 col-lg-9">
                            <textarea type="text" name="name" class="form-control m-input" placeholder="" value="Nick Stone"></textarea>
                          </div>
                      </div>
                      <mat-divider></mat-divider><br>
                      <div class="form-group m-form__group row">
                          <label class="col-xl-3 col-lg-3 col-form-label">Custom Tab 3:</label>
                          <div class="col-xl-9 col-lg-9">
                            <textarea type="text" name="name" class="form-control m-input" placeholder="" value="Nick Stone"></textarea>
                          </div>
                      </div>
                     </div>
                     </div>
                     </div>             
          </div>
          <div class="m-portlet__foot m-portlet__foot--fit">
              <div class="m-form__actions m-form__actions pull-right">
                  <a href="#" class="btn btn-secondary m-btn m-btn--icon m-btn--wide m-btn--md m--margin-right-10">
                      <span>
                        <i class="la la-arrow-left"></i>
                        <span>Back</span>
                      </span>
                    </a>
                    <div class="btn-group">
                        <button type="button" class="btn btn-default m-btn m-btn--icon m-btn--wide m-btn--md">
                          <span>
                            <!-- <i class="la la-check"></i> -->
                            <span>Reset</span>
                          </span>
                        </button>   
                      </div>
                      <div class="btn-group">
                          <button type="button" class="btn btn-default  m-btn m-btn--icon m-btn--wide m-btn--md">
                            <span>
                              <!-- <i class="la la-check"></i> -->
                              <span>Delete</span>
                            </span>
                          </button>   
                        </div>
                        <div class="btn-group">
                            <button type="button" class="btn btn-default m-btn m-btn--icon m-btn--wide m-btn--md">
                              <span>
                                <!-- <i class="la la-check"></i> -->
                                <span>Save</span>
                              </span>
                            </button>   
                          </div>
                          <div class="btn-group">
                              <button type="button" class="btn btn-accent  m-btn m-btn--icon m-btn--wide m-btn--md">
                                <span>
                                  <!-- <i class="la la-check"></i> -->
                                  <span>Save And Continue Edit</span>
                                </span>
                              </button>   
                            </div>
              </div>
            </div>
      </form>    
    </ng-container>    
  </m-portlet>        
