<h2>Add/Edit Bundle Product</h2>
<m-notice>
  Bundle Product literally means the combination of various existing of your Webstore in to a single product.
  Assembled Desktop,Party wear,gift basket are some examples of a Bundle Product. You can create different groups
  map suitable products to them, which can be selected by end-users while buying customized version of Bundle Product.
  Price and weight of the bundle product can be configured either fixed or based on the selected items(i.e.dynamic).
</m-notice>

<m-portlet>
  <ng-container mPortletHeadTitle>
    <div class="m-portlet__head-title">
      <h3 class="m-portlet__head-text">
        Images
      </h3>
    </div>
  </ng-container>
  <ng-container mPortletHeadTools>
		<a class="btn btn-default m-btn m-btn--icon m-btn--wide m-btn--md m--margin-right-10">
			<span>
				<i class="la la-plus"></i>
				<span>Add Image</span>
			</span>
		</a>
	</ng-container>
  <ng-container mPortletBody>
    <div class="m-portlet__foot m-portlet__foot--fit">
      <div class="m-form__actions m-form__actions pull-right">
          <a href="#" class="btn btn-secondary m-btn m-btn--icon m-btn--wide m-btn--md m--margin-right-10">
              <span>
                <i class="la la-arrow-left"></i>
                <span>Back</span>
              </span>
            </a>
            <div class="btn-group">
                <button type="button" class="btn btn-default m-btn m-btn--icon m-btn--wide m-btn--md">
                  <span>
                    <!-- <i class="la la-check"></i> -->
                    <span>Reset</span>
                  </span>
                </button>   
              </div>
              <div class="btn-group">
                  <button type="button" class="btn btn-default  m-btn m-btn--icon m-btn--wide m-btn--md">
                    <span>
                      <!-- <i class="la la-check"></i> -->
                      <span>Delete</span>
                    </span>
                  </button>   
                </div>
                <div class="btn-group">
                    <button type="button" class="btn btn-default m-btn m-btn--icon m-btn--wide m-btn--md">
                      <span>
                        <!-- <i class="la la-check"></i> -->
                        <span>Save</span>
                      </span>
                    </button>   
                  </div>
                  <div class="btn-group">
                      <button type="button" class="btn btn-accent  m-btn m-btn--icon m-btn--wide m-btn--md">
                        <span>
                          <!-- <i class="la la-check"></i> -->
                          <span>Save And Continue Edit</span>
                        </span>
                      </button>   
                    </div>
      </div>
    </div>
  </ng-container>
</m-portlet>